Ebay Car Sales Data

In [1]:
import pandas as pd
import numpy as np
autos = pd.read_csv(r"C:\Users\moham\Documents\Documents\DataQuest\Ebay Project\autos.csv", encoding="Windows-1252", nrows=50000)

In [2]:
autos.isnull().sum()

dateCrawled               0
name                      0
seller                    0
offerType                 0
price                     0
abtest                    0
vehicleType            5160
yearOfRegistration        0
gearbox                2721
powerPS                   0
model                  2759
kilometer                 0
monthOfRegistration       0
fuelType               4610
brand                     0
notRepairedDamage      9709
dateCreated               0
nrOfPictures              0
postalCode                0
lastSeen                  0
dtype: int64

The dataset contains 20 columns, most of which are strings.
Some columns have null values, but none have more than ~20% null values.
The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

In [3]:
cols = ["date_crawled", "name", "seller", "offer_type", "dollar_price", "ab_test",
        "vehicle_type", "registration_year", "gearbox", "power_ps", "model",
       "kilometer", "registration_month", "fuel_type", "brand", "unrepaired_damage",
        "ad_created", "pictures_number", "postal_code",  "last_seen_online"]
autos.columns = cols
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'dollar_price',
       'ab_test', 'vehicle_type', 'registration_year', 'gearbox', 'power_ps',
       'model', 'kilometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'pictures_number', 'postal_code',
       'last_seen_online'],
      dtype='object')

In [4]:
autos.head()

,date_crawled,name,seller,offer_type,dollar_price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,pictures_number,postal_code,last_seen_online
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [5]:
print(autos["pictures_number"].sum())
print(autos["ab_test"].unique())
print(autos["offer_type"].unique())
autos.drop(["pictures_number", "ab_test", "offer_type", "seller"], axis=1, inplace=True)

0
['test' 'control']
['Angebot' 'Gesuch']

Based on the information we got from the data within each column, we decide to delete the following ones:
 - pictures_number because all  values are equal to zero
 - ab_test takes two different values: 'test' and 'control' that are not relevant for our analysis
 - offer_type takes two different values 'Angebot' and 'Gesuch' that are not relevant for our analysis
 - seller takes only one value

In [6]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 16 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
dollar_price          50000 non-null int64
vehicle_type          44840 non-null object
registration_year     50000 non-null int64
gearbox               47279 non-null object
power_ps              50000 non-null int64
model                 47241 non-null object
kilometer             50000 non-null int64
registration_month    50000 non-null int64
fuel_type             45390 non-null object
brand                 50000 non-null object
unrepaired_damage     40291 non-null object
ad_created            50000 non-null object
postal_code           50000 non-null int64
last_seen_online      50000 non-null object
dtypes: int64(6), object(10)
memory usage: 6.1+ MB

In [7]:
autos.describe()

,dollar_price,registration_year,power_ps,kilometer,registration_month,postal_code
count,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,6.860062e+03,2004.829980,113.669360,125542.000000,5.740280,50742.358300
std,1.051966e+05,100.099844,129.459112,40066.523964,3.715667,25886.169436
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,1067.000000
25%,1.150000e+03,1999.000000,69.000000,100000.000000,3.000000,30419.000000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,49580.500000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,71640.000000
max,1.234568e+07,9999.000000,10520.000000,150000.000000,12.000000,99996.000000

Based on min and max values of numerical data above, we notice that we can reduce the memory usage by storing the data in more optimal types.

In [8]:
autos.dollar_price = autos.dollar_price.astype(np.uint32)
autos.kilometer = autos.kilometer.astype(np.uint32)
autos.power_ps = autos.power_ps.astype(np.uint16)
autos.registration_month = autos.registration_month.astype(np.uint8)
autos.registration_year = autos.registration_year.astype(np.uint16)
autos.postal_code = autos.postal_code.astype(np.uint32)

In [9]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 16 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
dollar_price          50000 non-null uint32
vehicle_type          44840 non-null object
registration_year     50000 non-null uint16
gearbox               47279 non-null object
power_ps              50000 non-null uint16
model                 47241 non-null object
kilometer             50000 non-null uint32
registration_month    50000 non-null uint8
fuel_type             45390 non-null object
brand                 50000 non-null object
unrepaired_damage     40291 non-null object
ad_created            50000 non-null object
postal_code           50000 non-null uint32
last_seen_online      50000 non-null object
dtypes: object(10), uint16(2), uint32(3), uint8(1)
memory usage: 4.6+ MB

We then reduced the memory usage by 1.5 MB out of 6.1 MB, i.e. 25%, just by optimizing the types of numerical data for 50,000 rows.

In [10]:
print(autos.dollar_price.value_counts().head())
print(autos.dollar_price.unique().shape)

0       1461
500      789
1500     718
1000     618
1200     599
Name: dollar_price, dtype: int64
(2381,)

In [11]:
c_dollar_prices = autos.dollar_price.copy()
s_dollar_prices = c_dollar_prices.sort_values(ascending=False)
s_dollar_prices.index = autos.index
print(s_dollar_prices.head(1))

0    12345678
Name: dollar_price, dtype: uint32

In [12]:
v_dollar_prices = autos[autos["dollar_price"] > 100000].copy()
v_dollar_prices.sort_values(by=['dollar_price'], ascending=False, inplace=True)
v_dollar_prices.head(20)

,date_crawled,name,dollar_price,vehicle_type,registration_year,gearbox,power_ps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen_online
39625,2016-03-08 23:53:51,Tausche_volvo_v40_gegen_van,12345678,NaN,2018,manuell,95,v40,150000,6,NaN,volvo,nein,2016-03-08 00:00:00,14542,2016-04-06 23:17:31
20746,2016-03-08 15:54:52,Golf3_Schlachtfest,12345678,NaN,1995,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-08 00:00:00,18516,2016-03-17 16:15:43
14663,2016-04-03 06:03:56,Tausch_moeglich_Polo_vw_n9,11111111,coupe,2003,manuell,64,polo,150000,2,benzin,volkswagen,NaN,2016-04-03 00:00:00,46535,2016-04-07 10:16:51
21467,2016-03-19 19:45:02,Porsche_911_911R_1_of_20_ORIGINAL_R_nur_798KG!...,9999999,coupe,1967,manuell,215,911,50000,10,benzin,porsche,nein,2016-03-19 00:00:00,70435,2016-04-01 10:45:30
41980,2016-03-11 09:37:17,Maserati_MC12,2995000,coupe,2005,NaN,630,NaN,5000,7,benzin,sonstige_autos,nein,2016-03-11 00:00:00,74232,2016-04-06 21:47:44
45055,2016-04-02 00:06:21,Ferrari_LaFerrari_Deutsche_Auslieferung._A_Cel...,2795000,coupe,2016,NaN,963,NaN,5000,3,NaN,sonstige_autos,nein,2016-04-01 00:00:00,60435,2016-04-03 14:32:00
20143,2016-03-18 00:55:53,Porsche_911R_Einer_von_911,1250000,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein,2016-03-17 00:00:00,70435,2016-03-20 04:48:27
45833,2016-03-15 10:53:11,Porsche_911_Turbo__930_,1000000,coupe,1981,manuell,300,911,150000,1,benzin,porsche,nein,2016-03-15 00:00:00,10969,2016-03-22 09:18:05
16889,2016-03-15 16:45:45,Ford_Mondeo_Kombi_TÜV_abgelaufen,1000000,kombi,1998,NaN,0,mondeo,150000,0,benzin,ford,ja,2016-03-15 00:00:00,26607,2016-03-15 16:45:45
38445,2016-03-21 19:53:52,2_VW_Busse_T3,999999,bus,1981,manuell,70,transporter,150000,1,benzin,volkswagen,NaN,2016-03-21 00:00:00,99880,2016-03-28 17:18:28
26327,2016-03-21 19:43:54,Porsche_911_R,600000,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein,2016-03-21 00:00:00,76275,2016-03-21 19:43:54
1846,2016-03-10 22:47:05,BMW_M1_Museumsfahrzeug_Neuwagenzustand_Glossy_...,579000,coupe,1980,manuell,277,andere,20000,12,benzin,bmw,nein,2016-03-10 00:00:00,60435,2016-03-23 10:45:27
10649,2016-04-05 09:36:18,Porsche_996_GT2_MK2_Clubsport,420000,coupe,2004,manuell,483,911,50000,4,benzin,porsche,nein,2016-04-05 00:00:00,81669,2016-04-07 12:15:38
29866,2016-03-21 11:50:40,Porsche_997_GT2,245000,coupe,2008,manuell,530,911,10000,1,benzin,porsche,nein,2016-03-21 00:00:00,80999,2016-04-06 06:45:13
20818,2016-03-14 13:56:15,Porsche_991_Carrera_S__50_Jahre_911___X51__430...,225000,coupe,2014,automatik,430,911,10000,1,benzin,porsche,nein,2016-03-14 00:00:00,78126,2016-04-05 15:15:57
28988,2016-03-21 10:50:12,Porsche_997,220000,coupe,2008,manuell,415,911,30000,7,benzin,porsche,nein,2016-03-21 00:00:00,69198,2016-04-06 04:46:14
46503,2016-03-09 00:55:57,Porsche_911,199900,cabrio,1972,manuell,207,911,10000,4,benzin,porsche,nein,2016-03-09 00:00:00,53639,2016-04-07 04:47:01
13302,2016-03-20 21:49:18,Porsche_911_Targa_4_GTS,192500,cabrio,2015,automatik,430,911,5000,4,benzin,porsche,nein,2016-03-20 00:00:00,36043,2016-04-07 07:16:29
15335,2016-03-27 12:46:46,Porsche_911_Speedster_breit,189000,cabrio,1989,manuell,231,911,80000,6,benzin,porsche,nein,2016-03-27 00:00:00,82064,2016-04-07 08:16:12
4359,2016-03-27 23:48:22,Mercedes_Benz_SL_280,185000,cabrio,1971,automatik,170,sl,5000,7,benzin,mercedes_benz,nein,2016-03-27 00:00:00,92318,2016-04-06 02:15:21

We consider as outliers all the rows with a dollar_price inferior to $100 and superior to $80000.

In [13]:
autos = autos[autos["dollar_price"].between(100,80000)]
v_dollar_prices = autos[autos["dollar_price"] >= 50000].copy()
v_dollar_prices.sort_values(by=['dollar_price'], ascending=False, inplace=True)
v_dollar_prices.head(20)

,date_crawled,name,dollar_price,vehicle_type,registration_year,gearbox,power_ps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen_online
8641,2016-03-24 08:54:55,Porsche_Turbo_Cabrio_Sport_Chrono_Carbon__PCM_...,79000,cabrio,2009,manuell,480,911,100000,4,benzin,porsche,nein,2016-03-24 00:00:00,68163,2016-04-06 21:46:51
14318,2016-03-14 11:57:03,Mercedes_Benz_G_350_BlueTEC_7G_TRONIC_Edition_...,78900,suv,2015,automatik,211,g_klasse,10000,7,diesel,mercedes_benz,nein,2016-03-14 00:00:00,57462,2016-04-05 11:50:32
45993,2016-03-28 01:57:48,Maserati_Granturismo_Sport__460_PS__1.380__/Mo...,78900,coupe,2012,NaN,460,NaN,20000,9,benzin,sonstige_autos,nein,2016-03-28 00:00:00,22587,2016-04-06 10:17:53
34021,2016-03-20 16:47:01,Porsche_911_Carrera_Cabriolet_PDK_Black_Edition,78500,cabrio,2011,automatik,345,911,40000,7,benzin,porsche,nein,2016-03-20 00:00:00,59821,2016-04-02 21:20:41
30725,2016-03-12 19:43:12,Porsche_911_Carrera_PDK,77500,coupe,2012,automatik,349,911,50000,7,benzin,porsche,nein,2016-03-12 00:00:00,32423,2016-03-16 23:47:17
10194,2016-03-24 16:51:56,Porsche_911_Carrera_997_GTS_Approved_Garantie,76997,coupe,2011,automatik,408,911,40000,6,benzin,porsche,nein,2016-03-24 00:00:00,47918,2016-03-27 13:45:48
24696,2016-03-12 14:44:51,Porsche_911_Carrera_4S_Cabriolet_PDK,76900,cabrio,2010,automatik,385,911,40000,6,benzin,porsche,nein,2016-03-12 00:00:00,66119,2016-04-06 23:45:17
30656,2016-03-08 14:46:00,Mercedes_Benz_C_63_AMG_Coupe_AMG_SPEEDSHIFT_MCT,76900,coupe,2011,automatik,581,c_klasse,40000,8,benzin,mercedes_benz,nein,2016-03-08 00:00:00,16230,2016-04-06 01:46:08
8610,2016-03-09 21:50:31,Porsche_911_Carrera_GTS,76500,coupe,2011,automatik,408,911,40000,11,benzin,porsche,nein,2016-03-09 00:00:00,26842,2016-03-11 19:20:42
3883,2016-03-23 19:49:18,Porsche_911__997__Carrera_S_Cabrio,75600,cabrio,2011,automatik,385,911,50000,2,benzin,porsche,nein,2016-03-23 00:00:00,36286,2016-04-06 07:17:13
3735,2016-03-19 19:06:35,Ferrari_308,73999,cabrio,1984,manuell,215,NaN,70000,2,benzin,sonstige_autos,nein,2016-03-19 00:00:00,64546,2016-04-06 04:45:38
42321,2016-03-31 01:57:27,Porsche_996_Turbo,73990,coupe,2004,manuell,443,911,30000,5,benzin,porsche,nein,2016-03-31 00:00:00,72393,2016-04-06 01:16:41
31616,2016-04-02 07:37:03,Volkswagen__1967_T1_Westfalia_SO42,73000,bus,1967,NaN,0,transporter,10000,8,NaN,volkswagen,nein,2016-04-02 00:00:00,44869,2016-04-06 05:15:54
37012,2016-04-03 10:56:34,Renault_R_5_Turbo2,72500,coupe,1984,manuell,160,andere,90000,8,benzin,renault,nein,2016-04-03 00:00:00,33335,2016-04-07 12:44:52
18892,2016-03-07 22:25:20,Porsche__911_997_Carrera_4S,72500,coupe,2012,automatik,385,911,40000,1,benzin,porsche,nein,2016-03-07 00:00:00,60385,2016-04-05 12:45:26
20982,2016-03-11 16:37:19,Porsche_997_Carrera_S_Cabrio_19ZOLL_PCM_PDK_SP...,71997,cabrio,2008,automatik,385,911,50000,9,benzin,porsche,nein,2016-03-11 00:00:00,45468,2016-03-22 06:47:10
48688,2016-03-21 09:36:40,Mercedes_Benz_GLE_350_d_4Matic_9G_TRONIC_AMG_Line,69999,suv,2016,automatik,258,andere,5000,1,diesel,mercedes_benz,nein,2016-03-21 00:00:00,10715,2016-03-31 11:16:54
18678,2016-03-15 17:55:43,Mercedes_Benz_G_350_Modell_2013,69999,suv,2012,automatik,211,g_klasse,60000,7,diesel,mercedes_benz,nein,2016-03-15 00:00:00,97252,2016-03-28 13:44:52
31975,2016-03-28 17:41:17,Porsche_Cayenne_Platinum_Edition__Handwaesche_...,69999,suv,2014,automatik,0,cayenne,10000,10,NaN,porsche,nein,2016-03-28 00:00:00,63110,2016-04-06 23:15:52
12982,2016-03-20 11:41:35,Hamann_BMW_X6m_Tycoon_evo_m_678_PS,69990,suv,2009,automatik,678,NaN,50000,9,benzin,sonstige_autos,nein,2016-03-20 00:00:00,66625,2016-04-06 08:46:38

In [14]:
autos.loc[(autos["vehicle_type"] == "kombi") & (autos["dollar_price"] > 50000), "dollar_price"]

1284     51000
4631     55999
7057     53900
15348    59000
15999    51593
17936    52999
36614    50699
43724    53900
46121    60000
47733    69990
Name: dollar_price, dtype: uint32

In [15]:
autos.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     8,     9,
               10,
            ...
            49990, 49991, 49992, 49993, 49994, 49995, 49996, 49997, 49998,
            49999],
           dtype='int64', length=48137)

In [16]:
autos.index = range(48137)

View of the various vehicle and fuel types

In [17]:
print(autos['vehicle_type'].unique(), autos['fuel_type'].unique())

[nan 'coupe' 'suv' 'kleinwagen' 'limousine' 'cabrio' 'bus' 'kombi'
 'andere'] ['benzin' 'diesel' nan 'lpg' 'andere' 'hybrid' 'cng' 'elektro']

We use a dictionary and the map function to convert vehicle and fuel types from German to English

In [18]:
mapping_vehicle_type = {
    'coupe': 'coupé',
    'kleinwagen': 'small car',
    'kombi': 'station wagon',
    'cabrio': 'convertible',
    'andere': 'other',
    'hybrid':'hybrid',
    'limousine':'limousine',
    'bus':'bus'
                        }

mapping_fuel_type = {
    'benzin': 'gasoline',
    'diesel': 'diesel',
    'lpg': 'liquefied petroleum gas',
    'andere': 'other',
    'cng': 'compressed natural gas',
    'elekto':'electric'
                    }

autos['vehicle_type'] = autos['vehicle_type'].map(mapping_vehicle_type)
autos['fuel_type'] = autos['fuel_type'].map(mapping_fuel_type)

In [19]:
autos[autos['model'].isnull()]

,date_crawled,name,dollar_price,vehicle_type,registration_year,gearbox,power_ps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen_online
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,18300,coupé,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,66954,2016-04-07 01:46:50
80,2016-04-03 12:56:45,Bastler_Fahrzeug_mit_Rest_Tuev,350,small car,1997,manuell,54,NaN,150000,3,NaN,fiat,ja,2016-04-03 00:00:00,45665,2016-04-05 11:47:13
133,2016-03-27 20:51:23,Audi_80_5_Zylinder_b4_liebhaberfahrzeug,1450,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein,2016-03-27 00:00:00,38709,2016-04-05 20:17:31
150,2016-03-27 20:47:22,POLO_1.2_KILIMA_WIE_NEU,6799,small car,2009,NaN,60,NaN,20000,5,gasoline,volkswagen,nein,2016-03-27 00:00:00,89077,2016-03-27 20:47:22
157,2016-03-19 19:49:15,is_ales_ok,500,small car,1999,manuell,0,NaN,150000,0,gasoline,renault,nein,2016-03-19 00:00:00,26969,2016-04-01 11:17:48
158,2016-03-28 10:50:04,VW_Caddy_Lkw_Zulassung,1495,station wagon,2001,NaN,64,NaN,150000,9,diesel,volkswagen,NaN,2016-03-28 00:00:00,99086,2016-04-04 11:45:46
183,2016-03-16 15:51:08,BMW_530xd_e60_EZ10/2008,14000,limousine,2008,NaN,235,NaN,150000,0,NaN,bmw,nein,2016-02-12 00:00:00,95131,2016-04-07 14:56:12
191,2016-03-27 12:47:45,VW_Polo_Coupe_86c_1990Bj._125193km,1200,coupé,1990,manuell,45,NaN,150000,0,gasoline,volkswagen,NaN,2016-03-27 00:00:00,83317,2016-04-07 08:17:08
259,2016-04-04 09:49:59,Mitsubishi_Colt_Tuev_07/2016,450,NaN,2016,manuell,0,NaN,150000,3,gasoline,mitsubishi,nein,2016-04-04 00:00:00,59302,2016-04-06 11:17:11
275,2016-03-29 23:38:02,Audi_80_coupe_top_gepflegt_2_0,1500,coupé,1994,manuell,116,NaN,150000,8,NaN,audi,nein,2016-03-29 00:00:00,32791,2016-04-06 20:16:34
308,2016-03-21 14:38:37,Tauache_90ccm_roller_gegen_auto,200,NaN,2009,NaN,0,NaN,10000,0,NaN,sonstige_autos,NaN,2016-03-21 00:00:00,6493,2016-03-24 02:47:34
310,2016-03-13 13:38:54,Biete_BMW_318_i_Kombi_auch_Tausch,1600,station wagon,1999,manuell,0,NaN,150000,6,gasoline,bmw,nein,2016-03-13 00:00:00,41199,2016-03-28 12:46:35
354,2016-03-08 08:57:34,Peugeot_107_Klima,5500,small car,2012,manuell,68,NaN,40000,12,NaN,peugeot,nein,2016-03-08 00:00:00,24536,2016-03-21 21:44:28
362,2016-03-23 23:57:07,Peugeot__F__206_mit_Motorschaden,300,small car,2001,manuell,0,NaN,150000,5,gasoline,peugeot,ja,2016-03-23 00:00:00,84579,2016-03-25 15:22:13
365,2016-03-11 21:49:52,Corvette_Z06,49500,convertible,2013,NaN,0,NaN,10000,6,gasoline,sonstige_autos,nein,2016-03-11 00:00:00,79774,2016-03-13 04:45:42
414,2016-03-26 21:49:45,Alfa_Giulietta_2.0_JTDm_mit_QV_Ausstattung,13950,other,2011,manuell,140,NaN,60000,11,diesel,alfa_romeo,nein,2016-03-26 00:00:00,86830,2016-04-06 14:15:39
432,2016-03-20 20:45:27,Microcar_MC1,3950,small car,2004,automatik,5,NaN,70000,5,diesel,sonstige_autos,nein,2016-03-20 00:00:00,90562,2016-04-03 04:17:08
436,2016-03-27 18:43:25,Passat_fuer_ausschalten,1300,NaN,2017,manuell,150,NaN,150000,10,NaN,volkswagen,nein,2016-03-27 00:00:00,70374,2016-04-05 15:15:29
437,2016-04-02 17:54:29,VW_Touran_1.9_TDI_United,5800,bus,2007,manuell,105,NaN,150000,11,diesel,volkswagen,ja,2016-04-02 00:00:00,31319,2016-04-04 15:47:39
444,2016-03-24 16:46:05,VW_golf_1_4_4_tuer,1950,NaN,2017,manuell,0,NaN,150000,7,gasoline,volkswagen,nein,2016-03-24 00:00:00,70376,2016-03-30 18:16:07
544,2016-03-15 17:43:21,Top_zustand,2600,NaN,2005,NaN,0,NaN,125000,0,NaN,chevrolet,NaN,2016-03-15 00:00:00,94315,2016-04-06 14:45:44
590,2016-03-10 18:45:10,Peugeot_206cc_Quiksilver_BJ_2005_95.000_km,3800,convertible,2005,manuell,109,NaN,100000,12,gasoline,peugeot,NaN,2016-03-10 00:00:00,46049,2016-04-05 23:44:21
620,2016-03-12 17:50:58,Preis_nur_bis_morgen_14Uhr:_Schoener_Polo_HU/A...,1600,small car,2002,manuell,64,NaN,150000,2,gasoline,volkswagen,nein,2016-03-12 00:00:00,4552,2016-03-12 17:50:58
633,2016-03-27 09:56:27,BMW_E_46_Cabrio__Black_Saphir_Metallic__Facelift,7400,convertible,2003,automatik,192,NaN,150000,8,NaN,bmw,nein,2016-03-27 00:00:00,71067,2016-04-01 08:16:21
647,2016-03-27 22:52:02,Audi_A8_d2_4_2Ltr_Quattro,2200,limousine,1995,automatik,299,NaN,150000,5,NaN,audi,ja,2016-03-27 00:00:00,74182,2016-04-05 23:47:17
652,2016-03-07 09:52:06,Mitsubishi_carisma_1.8gdi_klima_tuev_neu,1900,limousine,2000,manuell,125,NaN,150000,5,gasoline,mitsubishi,nein,2016-03-07 00:00:00,14943,2016-03-08 15:44:31
653,2016-03-30 11:55:46,Oldsmobile_Cutlass,15000,coupé,1971,NaN,0,NaN,5000,4,NaN,sonstige_autos,nein,2016-03-30 00:00:00,51145,2016-04-07 02:45:10
665,2016-04-01 15:56:27,Dodge_RAM_1500_SLT_5_9l_V8_4X4_Benzin_/_Gas,9900,NaN,2000,automatik,250,NaN,150000,4,liquefied petroleum gas,sonstige_autos,nein,2016-04-01 00:00:00,17309,2016-04-07 14:56:03
673,2016-03-17 14:56:29,C_220CDI_KOMBI_TÜV_NEU_DPF_MOPF_FACELIFT,5900,station wagon,2004,manuell,150,NaN,150000,2,diesel,mercedes_benz,nein,2016-03-17 00:00:00,58089,2016-03-20 16:50:14
693,2016-03-12 10:58:09,Renault_Clio_3_1_2_l_16_v,5500,small car,2007,manuell,75,NaN,100000,10,gasoline,renault,NaN,2016-03-12 00:00:00,17034,2016-03-13 01:46:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47450,2016-03-19 18:47:28,Audi_RS_6_Avant_Scheckheft_20_zoll_Mugelloblau,16900,NaN,2005,NaN,500,NaN,150000,0,NaN,audi,NaN,2016-03-19 00:00:00,63868,2016-04-01 09:45:22
47475,2016-04-03 18:40:31,Bmw_530d__e60,12000,limousine,2003,automatik,218,NaN,150000,11,NaN,bmw,NaN,2016-04-03 00:00:00,49624,2016-04-05 18:46:26
47506,2016-03-16 22:06:22,Vw_Golf_IV_1.4,1000,small car,1998,manuell,75,NaN,150000,8,gasoline,volkswagen,nein,2016-03-16 00:00:00,51570,2016-03-29 13:16:28
47518,2016-04-01 17:39:12,POLO_1.4_SITZHEIZUNG_NEU_TÜV_MÄRZ_2018,1749,limousine,2001,manuell,60,NaN,150000,5,gasoline,volkswagen,nein,2016-04-01 00:00:00,89077,2016-04-01 17:39:12
47539,2016-03-20 10:59:12,Dacia_Solenza,120,NaN,2016,manuell,0,NaN,150000,0,gasoline,dacia,NaN,2016-03-20 00:00:00,56412,2016-03-20 11:45:05
47547,2016-03-12 13:55:50,Golf_4_Variant_2.0,1300,station wagon,1998,manuell,115,NaN,150000,0,NaN,volkswagen,NaN,2016-03-12 00:00:00,15345,2016-03-12 13:55:50
47580,2016-03-18 21:39:01,Daewoo_kalos_2005Bj,200,limousine,2005,manuell,0,NaN,150000,1,gasoline,daewoo,ja,2016-03-18 00:00:00,78224,2016-04-05 22:47:26
47602,2016-03-07 09:51:40,Lexus_CT_200h_Executive_Line,12900,limousine,2012,automatik,99,NaN,100000,6,NaN,sonstige_autos,nein,2016-03-07 00:00:00,4155,2016-04-02 02:45:26
47604,2016-03-11 19:38:18,Renault_4,4500,NaN,2017,manuell,0,NaN,50000,0,NaN,renault,nein,2016-03-11 00:00:00,78224,2016-03-25 03:19:15
47606,2016-04-05 11:37:22,Kia_Carens,1500,limousine,2004,manuell,0,NaN,150000,2,liquefied petroleum gas,kia,ja,2016-04-05 00:00:00,42277,2016-04-05 11:37:22
47621,2016-03-23 12:36:59,Peugeot_307_110hdi,1500,station wagon,2003,manuell,110,NaN,150000,12,diesel,peugeot,NaN,2016-03-23 00:00:00,34513,2016-03-30 21:18:44
47679,2016-03-21 21:46:50,Golf_5_;_1_9_diesel_4_motion,6490,limousine,2005,NaN,0,NaN,150000,12,diesel,volkswagen,NaN,2016-03-21 00:00:00,80995,2016-04-04 22:47:31
47700,2016-03-15 17:47:42,Toyota_aygo_cool_mit_klima,3200,NaN,2016,manuell,68,NaN,125000,5,NaN,toyota,NaN,2016-03-15 00:00:00,86554,2016-03-26 23:47:09
47744,2016-03-20 14:47:57,BMW_320d___!FESTPREIS!_NUR_BIS_DIENSTAG,3200,limousine,2003,manuell,150,NaN,150000,12,diesel,bmw,nein,2016-03-20 00:00:00,59555,2016-04-06 18:15:31
47769,2016-03-30 11:49:05,Kleinwagen_schnellstmoeglich_gesucht!!!,1000,NaN,2017,NaN,0,NaN,150000,1,NaN,sonstige_autos,NaN,2016-03-30 00:00:00,41462,2016-04-03 01:21:17
47780,2016-04-02 10:57:12,Zu_verkaufen_ohne_tuev,1300,NaN,2000,NaN,0,NaN,20000,0,NaN,mercedes_benz,NaN,2016-04-02 00:00:00,16559,2016-04-02 11:40:09
47800,2016-03-16 14:44:39,VW_Golf_III_New_Orleans_1.4_60_PS,150,limousine,1994,manuell,60,NaN,150000,3,gasoline,volkswagen,nein,2016-03-16 00:00:00,6295,2016-03-26 22:15:42
47806,2016-03-17 12:48:10,Renault_Twingo___BJ_2000,350,small car,2000,manuell,50,NaN,150000,3,gasoline,renault,NaN,2016-03-17 00:00:00,47249,2016-03-22 20:52:37
47807,2016-03-09 12:50:57,BMW_E36_318i_Limousine,1250,NaN,2017,manuell,113,NaN,150000,10,gasoline,bmw,nein,2016-03-09 00:00:00,45128,2016-03-16 07:47:20
47809,2016-03-24 17:38:57,2x_300_Ce,1500,NaN,1995,NaN,0,NaN,150000,0,gasoline,mercedes_benz,NaN,2016-03-24 00:00:00,45896,2016-03-24 17:38:57
47811,2016-04-03 22:45:43,Lexus_GS_300,11000,limousine,2005,automatik,249,NaN,90000,10,gasoline,sonstige_autos,nein,2016-04-03 00:00:00,74348,2016-04-05 23:46:09
47860,2016-03-30 08:50:54,Schwarzer_BMW_740d,7500,limousine,2003,automatik,0,NaN,150000,0,diesel,bmw,NaN,2016-03-30 00:00:00,30823,2016-04-01 03:16:49
47869,2016-03-16 08:53:34,Vw_Polo_6n,500,NaN,2016,manuell,0,NaN,150000,0,gasoline,volkswagen,ja,2016-03-16 00:00:00,38165,2016-03-22 13:47:55
47875,2016-03-18 10:43:03,BMW_750_i_Ersatzteil_Spender,1000,limousine,1996,automatik,0,NaN,5000,1,gasoline,bmw,ja,2016-03-18 00:00:00,39579,2016-03-18 10:43:03
47882,2016-03-19 20:53:11,Golf_kombi,1399,station wagon,1996,manuell,75,NaN,150000,3,gasoline,volkswagen,nein,2016-03-19 00:00:00,31073,2016-04-07 10:17:41
47937,2016-03-07 21:44:21,BMW_3_318ti_compact_MPacket,5000,NaN,2018,manuell,143,NaN,150000,10,NaN,bmw,nein,2016-03-07 00:00:00,59302,2016-03-09 13:15:19
48015,2016-03-27 13:57:28,Seat_ibiza_facelift,700,small car,1999,manuell,75,NaN,100000,5,gasoline,seat,nein,2016-03-27 00:00:00,94333,2016-04-07 09:46:28
48027,2016-03-29 20:30:24,Mazda_mx3_v6,400,coupé,1995,manuell,130,NaN,150000,0,NaN,mazda,NaN,2016-03-29 00:00:00,65396,2016-04-06 09:17:56
48028,2016-03-16 23:25:36,Hyundai.__I30_1_4_Benzin,1600,limousine,2010,manuell,0,NaN,80000,4,gasoline,hyundai,NaN,2016-03-16 00:00:00,65795,2016-03-17 00:06:17
48046,2016-03-14 14:54:07,Renault_Senic_RXT_1.6_Benziner.,1500,bus,2001,manuell,105,NaN,150000,7,gasoline,renault,ja,2016-03-14 00:00:00,28219,2016-03-14 14:54:07

In [20]:
date_col = ['date_crawled', 'ad_created', 'last_seen_online']
for col in date_col:
    autos[col] = autos[col].str[:10]

In [21]:
autos['date_crawled'].value_counts(normalize=True).sort_index(ascending=True)

2016-03-05    0.024513
2016-03-06    0.014542
2016-03-07    0.035877
2016-03-08    0.033446
2016-03-09    0.034443
2016-03-10    0.031909
2016-03-11    0.031867
2016-03-12    0.036230
2016-03-13    0.015373
2016-03-14    0.035877
2016-03-15    0.032491
2016-03-16    0.029478
2016-03-17    0.031909
2016-03-18    0.013607
2016-03-19    0.036604
2016-03-20    0.035814
2016-03-21    0.035981
2016-03-22    0.031805
2016-03-23    0.032719
2016-03-24    0.029665
2016-03-25    0.032719
2016-03-26    0.031743
2016-03-27    0.029956
2016-03-28    0.035274
2016-03-29    0.034651
2016-03-30    0.033176
2016-03-31    0.032574
2016-04-01    0.035108
2016-04-02    0.034900
2016-04-03    0.039678
2016-04-04    0.038557
2016-04-05    0.013046
2016-04-06    0.002971
2016-04-07    0.001496
Name: date_crawled, dtype: float64

The cars were crawled each day between March 2016, 5th and March 2016, 7th. The repartition of the data collection is uniform, each day ~3% of the data were collected.

In [22]:
a = autos['ad_created'].value_counts(normalize=True).sort_index(ascending=False)
b = a[a > 0.02]
b

2016-04-04    0.038619
2016-04-03    0.039990
2016-04-02    0.034921
2016-04-01    0.034610
2016-03-31    0.032719
2016-03-30    0.033051
2016-03-29    0.034713
2016-03-28    0.035399
2016-03-27    0.029645
2016-03-26    0.031909
2016-03-25    0.032657
2016-03-24    0.029998
2016-03-23    0.032470
2016-03-22    0.031369
2016-03-21    0.036105
2016-03-20    0.035960
2016-03-19    0.035981
2016-03-17    0.031473
2016-03-16    0.029811
2016-03-15    0.032221
2016-03-14    0.034838
2016-03-12    0.036064
2016-03-11    0.031930
2016-03-10    0.031764
2016-03-09    0.034526
2016-03-08    0.033405
2016-03-07    0.034381
2016-03-05    0.021792
Name: ad_created, dtype: float64

The ads crawled were created between March 2015, 20th and April 2016, 7th. We notice that 93% of them were created between March 2016, 5th and April 2016, 7th. It's in line with the dates the website was crawled. We can infer that an ad has a lifetime of approximately one month. We could for example neglect the ads created before March 2016 depending on our analysis.

In [23]:
autos['last_seen_online'].value_counts(normalize=True).sort_index(ascending=False)

2016-04-07    0.133328
2016-04-06    0.218855
2016-04-05    0.127386
2016-04-04    0.025760
2016-04-03    0.024783
2016-04-02    0.026051
2016-04-01    0.024139
2016-03-31    0.024181
2016-03-30    0.022872
2016-03-29    0.023267
2016-03-28    0.022083
2016-03-27    0.016308
2016-03-26    0.016474
2016-03-25    0.018759
2016-03-24    0.019320
2016-03-23    0.018572
2016-03-22    0.019652
2016-03-21    0.019881
2016-03-20    0.020068
2016-03-19    0.015830
2016-03-18    0.006585
2016-03-17    0.028481
2016-03-16    0.016121
2016-03-15    0.015435
2016-03-14    0.011717
2016-03-13    0.007832
2016-03-12    0.023329
2016-03-11    0.013732
2016-03-10    0.011093
2016-03-09    0.010595
2016-03-08    0.007915
2016-03-07    0.005027
2016-03-06    0.003511
2016-03-05    0.001059
Name: last_seen_online, dtype: float64

~50% of the cars were last seen online during the three last days the website was crawled. We can infer that the crawler needs to put a value in the last_seen_online column even if the ad is still active. If we have to analyse the car sales, we will then exclude these three days from the analysis.

Let's check the consistency of the data and the reliability of the crawler by comparing the date the ad was created and the last time it was seen online:

In [24]:
(autos['ad_created'] <= autos['last_seen_online']).all()

True

All the ads were created before they were last seen online, then the crawling worked properly.

In [25]:
a = (autos['registration_year'] > 2016)
b = a[a == True]
b.count()

1896

Some of the data in the registration_year column are wrong, a registration superior to April 2016 is not possible based on the date of the latest crawling. Given  the important number of cars between 2017 and 2019, we could change these values to 2016 for example.  We can consider that a registration before 1945 is also an error. Even if some ads might be right, there is a high probabilty to find outliers.

In [26]:
autos['registration_year'].value_counts().sort_index(ascending=False)
autos.loc[autos["registration_year"].between(2017,2018), "registration_year"] = 2016
autos['registration_year'].value_counts().sort_index(ascending=False)

9999       4
9000       1
8888       1
6000       1
5300       1
4100       1
3200       1
3000       1
2900       1
2200       1
2066       1
2019       2
2016    3086
2015     365
2014     652
2013     863
2012    1305
2011    1598
2010    1608
2009    2068
2008    2170
2007    2358
2006    2676
2005    2866
2004    2603
2003    2648
2002    2505
2001    2710
2000    3073
1999    2902
        ...
1966      24
1965      13
1964       7
1963       5
1962       3
1961       9
1960      13
1959       3
1958       4
1957       1
1956       2
1955       2
1954       2
1953       1
1951       3
1949       1
1945       1
1941       2
1940       2
1937       4
1936       1
1935       1
1933       1
1929       1
1925       1
1910       5
1800       1
1500       1
1234       1
1000       1
Name: registration_year, Length: 92, dtype: int64

In [27]:
(~autos["registration_year"].between(1945,2016)).sum() / autos.shape[0]

0.0007894135488293828

In [28]:
# Many ways to select rows in a dataframe that fall within a value range for a column.
# Using `Series.between()` is one way.
autos = autos[autos["registration_year"].between(1945,2016)]
autos["registration_year"].value_counts(normalize=True).head(10)

2016    0.064159
2000    0.063889
1999    0.060334
2005    0.059585
2001    0.056342
2006    0.055635
2003    0.055053
2004    0.054118
2002    0.052080
2007    0.049024
Name: registration_year, dtype: float64

In [66]:
p_brands = autos['brand'].value_counts(normalize=True)
p_brands

volkswagen        0.209547
bmw               0.109607
opel              0.107196
mercedes_benz     0.095698
audi              0.088838
ford              0.069128
renault           0.049564
peugeot           0.030500
fiat              0.025780
seat              0.019834
skoda             0.016799
mazda             0.015905
citroen           0.015239
smart             0.014429
nissan            0.013763
toyota            0.012599
hyundai           0.009605
mini              0.009376
volvo             0.009065
sonstige_autos    0.008649
mitsubishi        0.008087
honda             0.007485
kia               0.006965
suzuki            0.006424
alfa_romeo        0.005988
porsche           0.005489
chevrolet         0.004865
chrysler          0.003701
dacia             0.002432
land_rover        0.002183
jeep              0.002121
subaru            0.002037
daihatsu          0.001996
jaguar            0.001746
trabant           0.001435
saab              0.001414
daewoo            0.001372
rover             0.001227
lancia            0.001185
lada              0.000728
Name: brand, dtype: float64

To carry out the analysis of the car price within each brand, we are going to consider only brands with more than 1% of data, it represents 16 brands. We need enough data to perform this kind of analysis to avoid mistaking due to an inconsistency of the data. A wrong price has more impact if the number of total prices is low.

In [67]:
brand_mean_price = {}
brands = p_brands[p_brands > 0.01].index
for b in brands:
    mean_price = int(autos.loc[autos.brand == b, "dollar_price"].mean())
    mean_mileage = int(autos.loc[autos.brand == b, "kilometer"].mean())
    mean_year = int(autos.loc[autos.brand == b, "registration_year"].mean())
    brand_mean_price[b] = [mean_price, mean_mileage, mean_year]
df = pd.DataFrame.from_dict(brand_mean_price, orient='index', columns=['mean_price', 'mean_mileage', 'mean_year'])
df.head()

               mean_price  mean_mileage  mean_year
volkswagen           5376        128446       2003
bmw                  8403        133154       2003
opel                 2949        128794       2002
mercedes_benz        8266        131067       2002
audi                 9020        129840       2004

The mean prices are in line with our knowledge on the brand real prices. The three more expensive brands are respectively Audi, Bmw and Mercedes because of their high standards. More affordable brands like Renault, Fiat, Opel and Peugeot have a cheaper mean price. We could also add the mean year of registration per brand to improve the analysis.